@keyframes play1 {
	0% {width: 230px;}
	100% {width: 340px;}
}
@keyframes play2 {
	0% {height: 0px;}
	100% {height: 108px;}
}

body {
	color: rgba(0, 0, 0, 1);
	font-family: arial, sans-serif;
}

a {
	color: #000000;
	text-decoration: none;
}

h1 {
	text-align: center;
}

section.ficha,
section.ficha2 {
	border-right: 1px solid #606060;
	width: 345px;
	box-shadow: 1px 1px 4px black;
	padding: 1px 0px 10px 5px;
	background-color: rgb(243, 243, 243);
	animation-name: play1;
	animation-duration: 1s;
}

.verde {
	color: rgb(0, 128, 0);
	font-weight: bold;
}
.vermelho {
	color: rgb(209, 0, 0);
	font-weight: bold;
}
.amarelo {
	color: rgb(153, 153, 0);
	font-weight: bold;
}

tr.tabPer {
	text-align: center;
}

footer.rodape {
	clear: both;
	width: 100%;
}

.checkButton,
.textArea {
	width: 100%;
	box-shadow: 1px 1px 4px black;
}

form.corpo {
	width: 360px;
	margin: auto;
}

.painel1, .painel2 {
	border-right: 1px solid #606060;
	width: 345px;
	box-shadow: 1px 1px 4px black;
	padding: 1px 0px 10px 5px;
	background-color: rgb(243, 243, 243);
	animation-name: play2;
	animation-duration: 1s;
	display: inline-block;
	width: 49%;
}

@media (min-width: 720px) {
	section.ficha,
	section.ficha2 {
		display: inline-block;
		width: 49%;
	}
	aside.segPersonagem {
		display: inline-block;
	}
	.checkButton {
		width: 100%;
	}
	.textArea {
		width: 100%px;
	}
	form.corpo {
		width: 700px;
		margin: auto;
	}
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 3.15px 0;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 24.5px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #dddcdd;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1.3px #000000, 0px 0px 1px #0d0d0d;
	border: 1.2px solid #000000;
	height: 31px;
	width: 13px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3.35px;
}